:root {
  --edge-width: 1px;
  --highlight-width: 1px;
}

.react-flow__edge-path {
  stroke-width: var(--edge-width);
  stroke: var(--color-edge);
  transition: all 0.2s ease;
  stroke-dasharray: none;
  animation: none;
}

.react-flow__edge.selected .react-flow__edge-path {
  stroke: var(--color-accent);
  filter: drop-shadow(0 0 var(--highlight-width) var(--color-accent));
}

.react-flow__edge:hover .react-flow__edge-path {
  stroke: var(--color-accent);
  filter: drop-shadow(0 0 var(--highlight-width) var(--color-accent));
}

.react-flow__edge-interaction {
  stroke-width: 10;
  stroke: transparent;
  fill: none;
}

.react-flow__connection-path {
  stroke: var(--color-edge);
  stroke-dasharray: 5;
  animation: dashdraw 1s linear infinite;
}

.react-flow__connection.valid path {
  stroke: var(--color-success);
  filter: drop-shadow(0 0 var(--highlight-width) var(--color-success));
}

.react-flow__connection.invalid path {
  stroke: var(--color-error);
  filter: drop-shadow(0 0 var(--highlight-width) var(--color-error));
}

@keyframes dashdraw {
  from {
    stroke-dashoffset: 10;
  }
  to {
    stroke-dashoffset: 0;
  }
}
